*.pb linguist-vendored
deepix-docker/tf-serving/models/label_predict_model/00000001/variables/variables.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
deepix-docker/tf-serving/models/feature_extract_model/00000001/variables/variables.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text