model_config_list: {
    config: {
        name: "feature_extract_model",
        base_path: "/models/feature_extract_model",
        model_platform: "tensorflow",
        model_version_policy: {
           all: {}
    }
    },
    config: {
        name: "label_predict_model",
        base_path: "/models/label_predict_model",
        model_platform: "tensorflow",
        model_version_policy: {
           all: {}
    }
    }
}
